.portfolio-pic {
  width: 100%;
}

.description {
  width: 60%;
  margin: 0 auto;
}

.description > p {
  font-size: 1.1rem;
}

.description > h2 {
  font-size: 2.2rem;
}

.bouncing-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bouncing-text:hover {
  display: flex;
}

.bouncing-letter:hover {
  animation: bounce-letter 1s ease infinite;
}

@keyframes bounce-letter {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.image-caption {
  max-width: 80%;
}

@media screen and (max-width: 768px) {
  .bouncing-letter:hover {
    animation: none;
  }
}

@media screen and (max-width: 550px) {
  .image-caption > h3 {
    font-size: 1rem;
  }
  .description {
    width: 80%;
  }
  .description > h2 {
    font-size: 1.8rem;
  }
  .description > p {
    font-size: 0.9rem;
  }
}
