.odd,
.even {
  border-radius: 10px;
  border: 3px solid #efebce;
  margin: 20px;
  padding: 10px;
}

.travel-pic {
  border-radius: 10px;
  filter: grayscale();
  max-width: 35%;
  transition: 0.5s;
}

.travel-pic:hover {
  filter: none;
  transform: scale(1.1);
}

.even {
  align-items: center;
  animation: moveToRight 1s ease;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}

.odd {
  align-items: center;
  animation: moveToLeft 1s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure > figcaption {
  margin: 0 auto;
  max-width: 45%;
}

h2 {
  font-size: 2rem;
}

@keyframes moveToRight {
  0% {
    transform: translateX(-1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* ---------- Tablet Size -------- */
@media screen and (max-width: 850px) {
  .odd,
  .even {
    flex-direction: column;
  }
  figure > figcaption {
    margin: 0 auto;
    max-width: 80%;
  }
  .travel-pic {
    max-width: 70%;
    filter: none;
  }
  .travel-pic:hover {
    transform: none;
  }
}
